/* Estilos de estados del link */
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  padding: 0.7rem 1.4rem;
  font-weight: 300;
  transition: all ease .2s;
  &:hover{
    background-color: var(--color-secondary);
  }
}
.active{
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.041);
}