
.input-select-container{
  height: 3rem;
  margin: 0;
  padding: 0 1rem;
  border-radius: 10px;
  color: var(--color-text-semi-white);
  border-color: var(--color-text-semi-white);
  &:focus{
    color: var(--color-black);
  }
}

.input-field-container{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  & .error-message{
    color: red !important;
    font-size: calc(10px + 0.1vw) !important;
  }
}

.border-error{
  border-color: red !important;
}