.input-text-container {
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: calc(12px + 0.1vw);
  border: 1px solid var(--color-text-semi-white);
  transition: all ease 0.2s;
  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }
}
